.profile {
  padding: 34px 0 20px;
  display: flex;
  border-bottom: 1px solid rgba(33,33, 33, .4);
  max-width: 1280px;
  margin: 0 auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__avatar-block {
  max-width: 505px;
  display: flex;
  gap: 20px;
}

.profile__avatar {
  border-radius: 8px;
  height: 190px;
  width: 190px;
}

.profile__column {
  width: 420px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__column-header {
  height: 60px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile__header {
  margin: 0;
  line-height: 32px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 97px;
}

.profile__edit-button {
  opacity: 70%;
  border: none;
  background-color: #fcf5e5;
  display: flex;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 100%;
}

.profile__add-button {
  margin-left: auto;
  margin-top: auto;
  border: none;
  background-color: #fcf5e5;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 80%;
}

@media screen and (max-width: 627px) {
  .profile__avatar-block {
    display: flex;
    flex-direction: column;
  }

  .profile__avatar {
    display: flex;
    justify-content: center;
  }

  .profile__header {
    display: flex;
    justify-content: center;
  }

  .profile__description {
    display: flex;
    justify-content: center;
  }

  .profile__edit-button {
    display: flex;
    justify-content: center;

  }

  .profile__add-button {
    display: flex;
    justify-content: center;
  }
}
